*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol{
    list-style-type: none;
}

h1,h2,h3,h4,h5,h6{
    line-height: 0.8;
}

.container{
    width: 1148px;
    margin: 0 auto;
}

/* ================ Navbar start here ================ */
/* ================ Navbar end here ================ */



/* ================ Navbar start here ================ */
/* ================ Navbar end here ================ */



/* ================ Navbar start here ================ */
/* ================ Navbar end here ================ */



/* ================ Navbar start here ================ */
/* ================ Navbar end here ================ */



/* ================ Navbar start here ================ */
/* ================ Navbar end here ================ */



/* ================ Navbar start here ================ */
/* ================ Navbar end here ================ */



/* ================ Navbar start here ================ */
/* ================ Navbar end here ================ */



/* ================ Navbar start here ================ */
/* ================ Navbar end here ================ */



/* ================ Navbar start here ================ */
/* ================ Navbar end here ================ */



/* ================ Navbar start here ================ */
/* ================ Navbar end here ================ */



/* ================ Navbar start here ================ */
/* ================ Navbar end here ================ */



/* ================ Navbar start here ================ */
/* ================ Navbar end here ================ */



/* ================ Navbar start here ================ */
/* ================ Navbar end here ================ */